<!DOCTYPE HTML>
<html>

<head>

<title>Peri Web Server</title>

<script
src="{{ url_for('static', filename='jquery-1.8.3.min.js') }}">
</script>

<script type="text/javascript">
$(function () {
		$.getJSON('http://132.227.102.:8022/data.json', function (data) {
				// Create the chart
				$('#container').highcharts('StockChart', {
rangeSelector : {
selected : 1
},
title : {
text : 'My Sensor'
},
series : [{
name : 'Value',
data : data,
tooltip: {
valueDecimals: 2
}
}]
});
				});
		});
</script>
</head>

<frameset rows="100,*" frameborder=0>
	<frame src="img/peri.png">
	<frame src="cgi-bin/main.py">
</frameset>
<script src="{{ url_for('static', filename='highstock.js') }}"></script>
<script src="{{ url_for('static', filename='highcharts-more.js') }}"></script>
<script src="{{ url_for('static', filename='exporting.js') }}"></script>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</html>
